$def with (jobs, from_timestamp)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:_("Job queue")

$# Start content
$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-dashboard"></i> $:_("Job queue")
            <span class="sr-only">$:_("(current)")</span></a>
        </li>
    </ol>
$var Navbar: $:NavbarF()

<h2>$:_("Job queue")</h2>

$if jobs is not None and len(jobs) > 0:
    <table class="table table-striped">
        <tr>
            <th>$:_("Id")</th>
            <th>$:_("Started at")</th>
            <th>$:_("Status")</th>
            <th>$:_("Course/Task")</th>
            <th>$:_("Users")</th>
            <th>$:_("Grading steps")</th>
            <th>$:_("Last update")</th>
        </tr>
        $for job in jobs:
            <tr>
                <td>$job["_id"]</td>
                <td>$job["submitted_on"].strftime("%d/%m/%Y %H:%M:%S")</td>
                <td>
                    $if job["status"] == "waiting":
                        $:_("Waiting")
                    $elif job["status"] == "processing":
                        $:_("Processing")
                    $else:
                        $:_("Unknown")
                </td>
                <td>$job["courseid"]/$job["taskid"]</td>
                <td>$",".join(job["username"])</td>
                <td>
                    <ul class="fa-ul">
                        $for idx, step in enumerate(job["grading_steps"]):
                            <li>
                                $if idx < len(job["grading_step_done_by"]) - 1:
                                    <span class="fa-li"><i class="fa fa-check"></i></span>
                                $elif idx == job["next_grading_step_idx"]:
                                    $if job["status"] == "processing":
                                        <span class="fa-li"><i class="fa fa-spinner fa-pulse"></i></span>
                                    $else:
                                        <span class="fa-li"><i class="fa fa-spinner"></i></span>
                                $else:
                                    <span class="fa-li"><i class="fa fa-ellipsis-h"></i></span>
                                $step
                                $if idx < len(job["grading_step_done_by"]):
                                    ($job["grading_step_done_by"][idx])
                            </li>
                        <li>
                            $if job["next_grading_step_idx"] == -1:
                                $if job["status"] == "processing":
                                    <span class="fa-li"><i class="fa fa-spinner fa-pulse"></i></span>
                                $else:
                                    <span class="fa-li"><i class="fa fa-spinner"></i></span>
                            $else:
                                <span class="fa-li"><i class="fa fa-ellipsis-h"></i></span>
                            $:_("Finalizing")
                        </li>
                    </ul>
                </td>
                <td>$job["grading_step_last_update"].strftime("%d/%m/%Y %H:%M:%S")</td>
            </tr>
    </table>
$else:
    $:_("There are no ungraded submissions")